@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  --line-color: grey;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.borderBlack {
  @apply border border-black/10;
}

.darkThemeContact {
  @apply dark:bg-gray-700 dark:text-gray-300 dark:bg-opacity-85 dark:outline-none dark:focus:scale-105 transition-all duration-300;
}

.gradientText {
  @apply dark:bg-gradient-to-r from-cyan-500 to-blue-500;
}

.gradientHoverBg {
  @apply dark:hover:bg-gradient-to-r from-[#111827] to-[#034947]  duration-150 transition-all;
}

.typewriter {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
